/Lab/HelloWorld/build/
/Lab/HelloWorld/dist/
/Lab/Paycheck/build/
/Lab/Paycheck/dist/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob4/build/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob4/dist/
*.xml
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob3/build/