/Lab/HelloWorld/build/
/Lab/HelloWorld/dist/
/Lab/Paycheck/build/
/Lab/Paycheck/dist/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob4/build/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob4/dist/
*.xml
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob3/build/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob1/build/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob1/dist/
/Hmwk/Assignment 1/Gaddis_8thEd_Chap2_Prob18/build/
/Hmwk/Assignment 1/Gaddis_8thEd_Chap2_Prob18/dist/
/Lab/Big Letter C/build/
/Lab/Big Letter C/dist/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob5/dist/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob5/build/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob2/build/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob2/dist/