/Lab/HelloWorld/build/
/Lab/HelloWorld/dist/
/Lab/Paycheck/build/
/Lab/Paycheck/dist/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob4/build/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob4/dist/
*.xml
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob3/build/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob1/build/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob1/dist/
/Hmwk/Assignment 1/Gaddis_8thEd_Chap2_Prob18/build/
/Hmwk/Assignment 1/Gaddis_8thEd_Chap2_Prob18/dist/
/Lab/Big Letter C/build/
/Lab/Big Letter C/dist/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob5/dist/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob5/build/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob2/build/
/Hmwk/Assignment 1/Savitch_9thEd_Chap1_ProgProj_Prob2/dist/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_Prob1/build/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_Prob1/dist/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_Prob2/build/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_Prob2/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProjProb_Prob13/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProjProb_Prob13/dist/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_Prob3/build/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_Prob3/dist/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_Prob4/build/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_Prob4/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_Prob4/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_Prob4/dist/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_PracProb_Prob2/dist/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_PracProb_Prob2/build/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_PracProb_Prob1/build/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_PracProb_Prob1/dist/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_PracProb_Prob3/dist/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_PracProb_Prob3/build/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_PracProb_Prob4/dist/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_PracProb_Prob4/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_PracProb_Prob4/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_PracProb_Prob4/build/
/Hmwk/Assignment_2/Gaddis_7thEd_ProgChal_Prob3/build/
/Hmwk/Assignment_2/Gaddis_7thEd_ProgChal_Prob3/dist/
/Hmwk/Assignment_2/Gaddis_7thEd_ProgChal_Prob5/build/
/Hmwk/Assignment_2/Gaddis_7thEd_ProgChal_Prob5/dist/
/Hmwk/Assignment_2/Gaddis_7thEd_ProgChal_Prob6/build/
/Hmwk/Assignment_2/Gaddis_7thEd_ProgChal_Prob6/dist/
/Hmwk/Assignment_2/Gaddis_7thEd_ProgChal_Prob7/build/
/Hmwk/Assignment_2/Gaddis_7thEd_ProgChal_Prob7/dist/
/Lab/PayCheckTernary/build/
/Lab/PayCheckTernary/dist/
/Lab/PayCheck If Else/build/
/Lab/PayCheckIfStatements/build/
/Lab/PayCheckIfStatements/dist/
/Lab/PayCheck If Else/dist/
/Lab/TruthTable/build/
/Lab/TruthTable/dist/
/Hmwk/Assignment_2/Gaddis_7thEd_ProgChal_Prob17/build/
/Hmwk/Assignment_2/Gaddis_7thEd_ProgChal_Prob17/dist/
/Lab/Menu/build/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob2/build/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob2/dist/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob1/dist/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob1/build/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob3/build/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob3/dist/
/Lab/Menu/dist/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob4/build/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob4/dist/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob22/build/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob22/dist/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob11/build/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob11/dist/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob12/build/
/Hmwk/Assignment_3/Gaddis_7thEd_Chap4_ProgChal_Prob12/dist/